@page "/"
@model Todo.Web.pages.Index

<h1>Index page</h1>

<p>todo: @Model.TodoHealth</p>
<p>user: @Model.UserHealth</p>

<p>
    <a asp-page="/Auth/Login">Login</a> |
    <a asp-page="/Auth/Register">Register</a> |
    <a asp-page="/Todos/Index">Todos</a>
</p>